[submodule "UDO"]
	path = UDO
	url = https://github.com/17zhangw/UDO
[submodule "Auto-Steer"]
	path = Auto-Steer
	url = https://github.com/17zhangw/Auto-Steer
[submodule "index_selection_evaluation"]
	path = index_selection_evaluation
	url = https://github.com/17zhangw/index_selection_evaluation
[submodule "unitune/open-box-context"]
	path = unitune/open-box-context
	url = https://github.com/17zhangw/open-box-context.git
[submodule "unitune/UniTune"]
	path = unitune/UniTune
	url = https://github.com/17zhangw/UniTune.git
